/*------------------------------------------------------------------
	0. AWN Colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    Logo Red: #F14133
    -
    (-2): #FF8C83
    (-1): #FF665A
    (0): #F14133
    (+1): #D11D0F
    (+2): #A50E02
    ----------
    Compliment Orange: #F18E33
    -
    (-2): #FFBE83
    (-1): #FFA95A
    (0): #F18E33
    (+1): #D16C0F
    (+2): #A55002
    ----------
    Compliment Blue: #218694
    -
    (-2): #65B5C0
    (-1): #3B95A2
    (0): #218694
    (+1): #0B7280
    (+2): #035965
    ----------
    Compliment Green: #27B840
    -
    (-2): #70D982
    (-1): #46C65C
    (0): #27B840
    (+1): #0BA025
    (+2): #017E17
    ----------
    ----------
    ----------
    Dark Style: #191D24
    -
    (-2): #6E7783
    (-1): $grey4
    (0): #191D24
    (+1): #0E151E
    (+2): #030912
    ----------
-------------------------------------------------------------------*/

$grey0: #cecece;
$grey1: #838a93;;
$grey2: #b8b9bc; // 7a8798
$grey3: #D7D7D7; // 6E7783
$grey4: #353c46; // 404750
$grey5: #2b333e;
$grey6: #232932;
$grey7: #191e27;
$grey8: #12161E;
$grey9: #0A0F17;
$grey10: #0b1119; // 030912

$red: #783535;
$orange: #F18E33;
$blue: #218694;
$green: #27B840;

$header-grad-dark: #d42b2b;
$header-grad-light: #ef5454;

$red-accent-light: #d24a4a; //  d24a4a
$red-accent: #ae3b3b; // #912b2b 9e2121
$red-accent-dark: #691d1d;

$green-accent: #27B840;

$logo-color: #f14033;
