@import "../../../styles/style-variables";
.SplitList  {

  .config-container {
    height: calc(100vh - 280px);
    > .flex-container {
      max-height: calc(100vh - 290px);
    }
  }

  .config-list {
    list-style: none;
    font-size: 14px;
    width: 300px;
    background: $grey8;
    display: inline-block;
    margin: 0;
    padding: 10px 0;
    flex: unset;
    border-right: solid 1px $red;
    li {
      padding: 5px 10px;
      cursor: pointer;
      &.selected {
        background: $grey4;
      }
    }
  }

  .config-editor {
    display: inline-block;
    .config-actions {
      position: relative;
      padding: 7px;
      height: 40px;
      border-bottom: solid 1px $grey4;
      z-index: 1000;
      background: $grey8;
      font-size: 15px;
      .config-name {
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 0.8px;
        margin-left: 5px;
        opacity: 0.5;
      }
    }
  }

  .config-gui-wrapper {
    display: none;
    margin: 0;
    padding: 10px;
    background: $grey9;
    height: calc(100% - 40px);  // 100% minus action bar height
    width: 100%;
    overflow-y: scroll;
  }

  .config-actions + codemirror {
    position: relative;
    top: -39px;
  }
  .config-editor {
    .CodeMirror {
      background: $grey9;
      color: $grey3;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      border-left: solid 1px $red;
      line-height: 18px;
      .CodeMirror-gutters {
        border-right: solid 1px $grey4;
        background: $grey10;
        left: 5px !important;
      }
      .CodeMirror-gutter {
        background: $grey10;
      }
      .CodeMirror-line {
        padding: 0 20px;
      }
      .CodeMirror-gutter-wrapper {
        left: -30px !important;
      }
      .CodeMirror-sizer {
        margin-top: 5px;
        margin-left: 25px !important;
      }
      .CodeMirror-cursor {
        border-left: solid 2px $grey1;
      }
    }

    .codemirror-container {
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $grey9;
      border-left: solid 1px $red;
      height: calc(100% - 40px);  // 100% minus action bar height
      .container-gutter {
        background: $grey10;
        border-right: solid 1px $grey4;
        width: 34px;
        height: 100%;
      }

      .CodeMirror {
        position: absolute;
        top: 0;
        //max-height: calc(100% - 40px);
        //overflow-y: scroll;
      }

    }
  }

  &.show-gui {
    .codemirror-container {
      height: 0;
    }
    .config-gui-wrapper {
      display: block;
    }
  }

}
