@import "./style-colors";

$header-height: 60px;
$sidebar-width: 250px;
$logo-font: "rezland", sans-serif;
$font: 'Noto Sans';

$header-bg-color: $grey10; // 0e151e
$sidebar-bg-color: $grey8; // 8
$main-bg-color: $grey6;
$card-bg-color: $grey7;

$sidebar-txt-color: $grey3;
$sidebar-heading-color: $red-accent;
$sidebar-item-color: #808a9b;
